common --enable_bzlmod
common --experimental_isolated_extension_usages

# fastverk registry first, then BCR.
common --registry=https://raw.githubusercontent.com/fastverk/bazel-registry/main/
common --registry=https://bcr.bazel.build/

test --test_output=errors
