common --enable_bzlmod
common --experimental_isolated_extension_usages

# fastverk registry first, then BCR.
common --registry=https://registry.fastverk.com/
common --registry=https://bcr.bazel.build/

test --test_output=errors
